.main-container {
	margin: 0 100px;
}

.index__top {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 80px 100px;
	color: #2E2E2E;

	font-family: 'Inter',
		sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 17px;
	display: flex;
	align-items: center;

	a {
		text-decoration: none;
		color: #2E2E2E;
	}

	&-back {
		display: flex;
		align-items: center;

		&--arrow {
			display: flex;
			background-image: url("data:image/svg+xml,%3Csvg width='35' height='7' viewBox='0 0 35 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M3.075 6.875L0.075 3.875C-0.025 3.675 -0.025 3.275 0.075 3.075L3.075 0.075C3.275 -0.025 3.675 -0.025 3.875 0.075C3.975 0.275 3.975 0.675 3.875 0.775L1.875 2.975H34.975V3.975H1.875L3.875 6.175C3.975 6.375 3.975 6.675 3.875 6.875C3.675 6.975 3.275 6.975 3.075 6.875Z' fill='%232E2E2E' /%3E%3C/svg%3E");
			margin-right: 13px;
			width: 36px;
			height: 7px;
			background-repeat: no-repeat;
		}
	}

	&-center h1 {
		font-family: 'Manrope',
			sans-serif;
		font-style: normal;
		font-weight: normal;
		font-size: 48px;
		line-height: 66px;
		display: flex;
		align-items: center;
		text-align: center;
		letter-spacing: 0.25em;
		text-transform: uppercase;
		color: #2E2E2E;
	}

	&-forward {
		display: flex;
		align-items: center;

		&--arrow {
			display: flex;
			background-image: url("data:image/svg+xml,%3Csvg width='36' height='7' viewBox='0 0 36 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M31.9 0.1L34.9 3.1C35.1 3.3 35.1 3.6 34.9 3.8L31.9 6.8C31.7 7 31.4 7 31.2 6.8C31 6.6 31 6.3 31.2 6.1L33.2 3.9H0V2.9H33.1L31.1 0.7C30.9 0.5 30.9 0.2 31.1 0C31.3 0 31.7 0 31.9 0.1Z' fill='%232E2E2E' /%3E%3C/svg%3E");
			margin-left: 13px;
			width: 36px;
			height: 7px;
			background-repeat: no-repeat;
		}
	}
}

.index__top.fixed {
	margin-top: 70px;
}

section.masterplans-photos {
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	grid-column-gap: 32px;
	grid-row-gap: 32px;

	img {
		width: 100%;
	}

	img[src="/upload/iblock/placeholder.gif"] {
		display: flex;
		justify-items: center;
		align-items: center;
		width: 64px;
		height: 64px;
		justify-content: center;
		align-content: center;
		margin: 0 auto;
	}

	img[src="../img/placeholder.gif"] {
		display: flex;
		justify-items: center;
		align-items: center;
		width: 64px;
		height: 64px;
		justify-content: center;
		align-content: center;
		margin: 0 auto;
	}

	.masterplans-photo {
		position: relative;
		display: none;
		justify-content: center;
		align-items: center;

		a picture {
			display: flex;
			flex-grow: 1;
		}

		.masterplans-photo-info {
			display: none;
		}
	}

	.masterplans-photo:hover {
		picture {
			filter: brightness(0.4);
		}

		.masterplans-photo-info {
			display: flex;
			flex-direction: column;
			font-family: 'Manrope',
				sans-serif;
			;
			font-style: normal;
			font-weight: normal;
			color: #fff;
			position: absolute;
			top: 32px;
			left: 32px;
			z-index: 80;

			a.masterplans-photo--name {
				font-size: 28px;
				line-height: 0;
				color: #fff;
				text-decoration: none;
			}

			a.masterplans-photo--year {
				padding-top: 32px;
				font-size: 12px;
				line-height: 16px;
				color: #fff;
				text-decoration: none;
			}
		}
	}

	.masterplans-photo:nth-child(11n + 1) {
		width: calc((100% - 32px * 2) / 3);
		display: flex;
	}

	.masterplans-photo:nth-child(11n + 2) {
		width: calc((100% - 32px * 2) / 3);
		display: flex;
	}

	.masterplans-photo:nth-child(11n + 3) {
		width: calc((100% - 32px * 2) / 3);
		display: flex;
	}

	.masterplans-photo:nth-child(11n + 4) {
		width: calc(50% - 16px);
		display: flex;
	}

	.masterplans-photo:nth-child(11n + 5) {
		width: calc(50% - 16px);
		display: flex;
	}

	.masterplans-photo:nth-child(11n + 6) {
		width: calc((100% - 32px * 3) / 4);
		display: flex;
	}

	.masterplans-photo:nth-child(11n + 7) {
		width: calc((100% - 32px * 3) / 4);
		display: flex;
	}

	.masterplans-photo:nth-child(11n + 8) {
		width: calc((100% - 32px * 3) / 4);
		display: flex;
	}

	.masterplans-photo:nth-child(11n + 9) {
		width: calc((100% - 32px * 3) / 4);
		display: flex;
	}

	.masterplans-photo:nth-child(11n + 10) {
		width: calc(50% - 16px);
		display: flex;
	}

	.masterplans-photo:nth-child(11n + 11) {
		width: calc(50% - 16px);
		display: flex;
	}
}

@media (max-width: 1400px) {
	.main-container {
		margin: 0 50px;
	}

	.index__top {
		padding: 80px 50px;
	}
}

@media (max-width: 1200px) {
	.main-container {
		margin: 0;
	}

	.index__top {
		padding: 0 24px;
		height: 100px;
		font-size: 10px;
		line-height: 12px;

		&-center h1 {
			font-size: 24px;
			line-height: 33px;
		}
	}

	.index__top.fixed {
		margin-top: 50px;
	}
}

@media (max-width: 992px) {
	.index__top {
		&-back {
			&--arrow {
				background-image: url("data:image/svg+xml,%3Csvg width='30' height='7' viewBox='0 0 35 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M3.075 6.875L0.075 3.875C-0.025 3.675 -0.025 3.275 0.075 3.075L3.075 0.075C3.275 -0.025 3.675 -0.025 3.875 0.075C3.975 0.275 3.975 0.675 3.875 0.775L1.875 2.975H34.975V3.975H1.875L3.875 6.175C3.975 6.375 3.975 6.675 3.875 6.875C3.675 6.975 3.275 6.975 3.075 6.875Z' fill='%232E2E2E' /%3E%3C/svg%3E");
				width: 30px;
			}
		}

		&-forward {
			&--arrow {
				display: flex;
				background-image: url("data:image/svg+xml,%3Csvg width='30' height='7' viewBox='0 0 36 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M31.9 0.1L34.9 3.1C35.1 3.3 35.1 3.6 34.9 3.8L31.9 6.8C31.7 7 31.4 7 31.2 6.8C31 6.6 31 6.3 31.2 6.1L33.2 3.9H0V2.9H33.1L31.1 0.7C30.9 0.5 30.9 0.2 31.1 0C31.3 0 31.7 0 31.9 0.1Z' fill='%232E2E2E' /%3E%3C/svg%3E");
				width: 30px;
			}
		}
	}

	section.masterplans-photos {
		width: 100%;
		grid-column-gap: 2px;
		grid-row-gap: 2px;

		.masterplans-photo:nth-child(odd) {
			width: calc(50% - 1px);
			display: flex;
			flex-grow: 1;
		}

		.masterplans-photo:nth-child(even) {
			width: calc(50% - 1px);
			display: flex;
			flex-grow: 1;
		}
	}
}

@media (max-width: 768px) {
	section.masterplans-photos {
		.masterplans-photo {
			min-height: 192px;

			.masterplans-photo-info {
				a.masterplans-photo--name {
					font-size: 18px;
					line-height: 25px;
				}

				a.masterplans-photo--year {
					font-size: 10px;
					line-height: 14px;
				}
			}
		}
	}
}

@media (max-width: 576px) {
	.index__top {
		justify-content: center;

		&-back,
		&-forward {
			display: none;
		}

		&-center h1 {
			font-size: 18px;
			line-height: 25px;
			letter-spacing: 0.15em;
		}
	}

	section.masterplans-photos {
		flex-direction: column;
		grid-column-gap: 0;
		grid-row-gap: 2px;

		.masterplans-photo {
			.masterplans-photo-info {
				a.masterplans-photo--name {
					font-size: 18px;
					line-height: 25px;
				}

				a.masterplans-photo--year {
					font-size: 10px;
					line-height: 14px;
				}
			}
		}

		.masterplans-photo:nth-child(n) {
			min-width: 100vw;
			min-height: 105px;
			flex-grow: 1;
			animation-duration: 1s;
			animation-name: slidein;
			display: flex;
		}
	}
}